/* #siteHeader {
  padding: 15px 0 0;
} */

#wrapper {
}
#navbar {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#tinyhorseLogo {
  font-family: ITC Avant Garde Gothic, sans-serif;
}
.carousel-item {
  max-height: 100vh;
}

.payment a,
.bi,
.bi-icon {
  color: #00bdf7;
}
.payment__img {
  min-height: 50vh;
  width: 100%;
}
.payment__img img {
  min-height: 100%;
  width: 100%;
}
.btn {
  border-radius: 0;
}
.pad-y {
  padding: 2rem 0;
}
.pad-t {
  padding: 2rem 0 0 0;
}

.lead-all {
  min-height: 100vh;
  background: #ffffff;
}
.row-1 > * img {
  width: 70%;
  height: 70%;
}
.row-1 {
  padding: 2rem 0;
  width: 100%;
}
.sales-section > * img {
  width: 80%;
  height: 80%;
}
.sales-circle {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #9f1a1a;
  border-radius: 50px;
  color: #9f1a1a;
}
.sales-circle > * {
  position: absolute;
}
.first_p {
  top: 1.8rem;
}

.footer {
  margin-top: 8rem;
  padding-bottom: 2rem;
}
